<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flynn Tower</title>
    <link id="theme-style" rel="stylesheet" href="{{ url_for('static', filename='CSS/kiva.css') }}">  </head>
<body>
 
    <div class="container">  <h1>Welcom to The Kiva</h1>
    <p>In earthen womb, a shadowed round,<br>
       A kiva's heart, where peace is found.<br>
        Ladders rise, to sunlit air,<br>
        But spirits dwell, in depths of prayer.<br>
        <br>
        Fire's glow, on painted wall,<br>
        Ancestral whispers, heed the call.<br>
        From dusty floor, to smoke-filled dome,<br>
        A sacred space, a spirit home.<br><br>
    </p>

    <a href="/" ><h2>Go In Peace</h2> </a><br><br>
    <a href="/flynnconvergence" ><h2>Go In Potal</h2> </a>
    </div> 

     </body>
</html>

