<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flynn Tower</title>
    <link id="theme-style" rel="stylesheet" href="{{ url_for('static', filename='default.css') }}">  </head>
<body>
    <script>
        // Retrieve the selected vibe from localStorage
        const selectedVibe = localStorage.getItem('selectedVibe');

        // Apply the saved theme if it exists
        if (selectedVibe) {
            const themeStyleLink = document.getElementById('theme-style');
            themeStyleLink.href = `{{ url_for('static', filename='CSS/') }}${selectedVibe}.css`;
        }
    </script>
    <div class="container">
        <form action="/kiva" method="post">
            <label for="username">Elder Name:</label><br>
            <input type="text" id="username" name="username"><br>
            <label for="password">Secret Elder Name:</label><br>
            <input type="password" id="password" name="password"><br>
            <button id="playButton" class="vibe-button">Enter the Kiva</button>
        </form>
    </div></body>
</html>
