<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flynn Tower LLM Interface</title>
    <link id="theme-style" rel="stylesheet" href="{{ url_for('static', filename='default.css') }}">  </head>
<body>
    <script>
        // Retrieve the selected vibe from localStorage
        const selectedVibe = localStorage.getItem('selectedVibe');

        // Apply the saved theme if it exists
        if (selectedVibe) {
            const themeStyleLink = document.getElementById('theme-style');
            themeStyleLink.href = `{{ url_for('static', filename='CSS/') }}${selectedVibe}.css`;
        }
    </script>
    <div class="container">  <h2>Concho Bonito Weather {{ date_str }}</h2>
    <p>Temperature: {{ weather.temperature }}°F</p>
    <p>Short Forecast: {{ weather.short_forecast }}</p>
    <p>Detailed Forecast: {{ weather.detailed_forecast }}</p>
    <p>Start Time: {{ weather.start_time }}</p>
    <p>End Time: {{ weather.end_time }}</p>
    </div>  </body>
</html>
