<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flynn Tower LLM Interface</title>
    <link id="theme-style" rel="stylesheet" href="{{ url_for('static', filename='default.css') }}">  </head>
<body>
    <script>
        // Retrieve the selected vibe from localStorage
        const selectedVibe = localStorage.getItem('selectedVibe');

        // Apply the saved theme if it exists
        if (selectedVibe) {
            const themeStyleLink = document.getElementById('theme-style');
            themeStyleLink.href = `{{ url_for('static', filename='CSS/') }}${selectedVibe}.css`;
        }
    </script>
    <div class="container">  <h1>Webcam View</h1>
        <img src="/home/ttombbab/Flynn-tower-AI/static/73yaX29Dm8bbKvyQH6Fe--1--4hl0v.jpg" alt="Webcam Image">
    </div>  </body>
</html>

